var joinStatus = function (value) {
  switch (value) {
    case 1:
      return '不可报名';
    case 2:
      return '未报名';
    case 3:
      return '审核中';
    case 4:
      return '审核通过';
  }
}
var toJoinClass = function (value) {
  switch (value) {
    case 1:
      return 'bg-grey';
    case 2:
      return 'bg-orange';
    case 3:
      return 'bg-orange';
    case 4:
      return 'bg-green';
  }
}
var toActivityStatus = function (value) {
  switch (value) {
    case 1:
      return '招募中';
    case 2:
      return '活动中';
    case 3:
      return '已完成';
  }
}
var toActivityClass = function (value) {
  switch (value) {
    case 1:
      return 'bg-green';
    case 2:
      return 'bg-orange';
    case 3:
      return 'bg-grey';
  }
}
var toOrderClass = function (value) {
  switch (value) {
    case '1':
      return 'bg-green';
    case '2':
      return 'bg-orange';
    case '3':
      return 'bg-grey';
  }
}
var signStatus = function (value) {
  switch (value) {
    case 1:
      return '未签到';
    case 2:
      return '已签到';
  }
}
var orderStatus = function (value) {
  switch (value) {
    case '1':
      return '派单中';
    case '2':
      return '进行中';
    case '3':
        return '已结束';
  }
}
module.exports = {
  toActivityStatus: toActivityStatus,
  toActivityClass: toActivityClass,
  signStatus: signStatus,
  orderStatus: orderStatus,
  toOrderClass: toOrderClass,
  toJoinClass: toJoinClass,
  joinStatus: joinStatus
}