var joinStatus = function (value) {
  switch (value) {
    case 1:
      return '不可报名';
    case 2:
      return '未报名';
    case 3:
      return '审核中';
    case 4:
      return '已报名';
  }
}
var toJoinClass = function (value) {
  switch (value) {
    case 1:
      return 'bg-grey';
    case 2:
      return 'bg-orange';
    case 3:
      return 'bg-orange';
    case 4:
      return 'bg-green';
  }
}
var toActivityStatus = function (value) {
  switch (value) {
    case 1:
      return '招募中';
    case 2:
      return '活动中';
    case 3:
      return '已完成';
  }
}
var toActivityClass = function (value) {
  switch (value) {
    case 1:
      return 'bg-green';
    case 2:
      return 'bg-orange';
    case 3:
      return 'bg-grey';
  }
}
var toPublicStatus = function (value) {
  switch (value) {
    case 1:
      return '招募中';
    case 2:
      return '报名截止';
    case 3:
      return '进行中';
    case 4:
      return '已完成';
    case 5:
      return '延期';
    case 6:
      return '已关闭';
  }
}
var toPublicClass = function (value) {
  switch (value) {
    case 1: ;
    return 'bg-green';
    case 3: ;
    case 5:
      return 'bg-orange';
    case 2: ;
    case 4: ;
    case 6:
      return 'bg-grey';
  }
}
var toOrderClass = function (value) {
  switch (value) {
    case '1':
      return 'bg-green';
    case '2':
      return 'bg-orange';
    case '3':
      return 'bg-grey';
  }
}
var signStatus = function (value) {
  switch (value) {
    case 1:
      return '未签到';
    case 2:
      return '已签到';
  }
}
var orderStatus = function (value) {
  switch (value) {
    case 1:
      return '派单中';
    case 2:
      return '进行中';
    case 3:
      return '已结束';
  }
}
var teamStatus = function (value) {
  switch (value) {
    case 0:
      return '无法加入';
    case 1:
      return '未加入';
    case 2:
      return '待审核';
    case 3:
      return '已加入';
  }
}
var volunteerStatus = function (value) {
  switch (value) {
    case 0:
      return '未认证';
    case 1:
      return '待审核';
    case 2:
      return '已认证';
  }
}
var toTeamClass = function (value) {
  switch (value) {
    case 0:
      return 'bg-grey';
    case 1:
      return 'bg-grey';
    case 2:
      return 'bg-orange';
    case 3:
      return 'bg-green';
  }
}
var toBottom = function (isLeader, status, user_id, userId) {
  if (isLeader && status == 2 && user_id == userId) {
    return 220
  } else if ((isLeader && status == 2) || user_id == userId) {
    return 136
  } else {
    return 26
  }
}
module.exports = {
  toActivityStatus: toActivityStatus,
  toActivityClass: toActivityClass,
  toPublicStatus: toPublicStatus,
  toPublicClass: toPublicClass,
  signStatus: signStatus,
  orderStatus: orderStatus,
  toOrderClass: toOrderClass,
  teamStatus: teamStatus,
  volunteerStatus: volunteerStatus,
  toTeamClass: toTeamClass,
  toJoinClass: toJoinClass,
  toBottom: toBottom,
  joinStatus: joinStatus
}